.looking-section {
  background-color: #1a1a1a;
  padding: 1.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  position: relative;
  overflow: visible;
}

.looking-section-content {
  flex: 0 0 40%;
  max-width: 40%;
  z-index: 2;
  padding-right: 2rem;
}

.looking-section-title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
}

.looking-section-list {
  list-style-type: none;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;

  color: white;
}

.looking-section-list li {
  position: relative;
  padding-left: 1.5rem;
  margin: 0;
  line-height: 1;
}

.looking-section-list li::before {
  content: "•";
  color: #d4af37; /* btb-gold color */
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  top: 0;
  margin-right: 0.5rem;
}

.looking-section-text {
  text-align: left;
  margin-bottom: 0rem;
  white-space: nowrap;
}

.looking-section-text-bold {
  font-weight: bold;
  /* margin-top: 0rem !important; */
}

.looking-section-text-gold {
  color: #d4af37; /* btb-gold color */
  font-weight: bold;
  /* margin-top: 0rem !important; */
}

.image-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  position: relative;
  right: -100px;
  overflow: visible;
  background-color: transparent;
  top: -90px;
}

.image-outside-frame {
  width: 900px;
  height: auto;
  max-width: none;
}

@media (max-width: 768px) {
  .looking-section {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    overflow: hidden;
    position: relative;
  }

  .looking-section-content {
    flex: 1;
    max-width: 100%;
    z-index: 2;
    order: 2;
    padding-right: 0;
    margin-top: 1rem;
  }

  .looking-section-title,
  .looking-section-text,
  .looking-section-text-bold,
  .looking-section-text-gold,
  .looking-section-list li {
    font-size: 18px;
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .image-container {
    position: relative;
    right: auto;
    width: 100%;
    margin: 0;
    order: 1;
    display: flex;
    justify-content: center;
    top: 0;
    padding: 1rem 0;
  }

  .image-outside-frame {
    width: 80%;
    height: auto;
    max-width: 300px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }
}
