.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 90%;

}

@media (min-width: 768px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.sectionWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3rem;
}

@media (min-width: 768px) {
  .sectionWrapper {
    flex-direction: row;
  }
}

.imageContainer {
  width: 100%;
  margin-right: 5rem;
}

@media (min-width: 768px) {
  .imageContainer {
    width: 300px;
    height: 450px;
  }
}

.imageWrapper {
  border-radius: 0.5rem;
  width: 100%;
  height: 300px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .imageWrapper {
    width: 330px;
    height: 450px;
    padding-top: 9rem;
  }
}

.imageWrapper1 {
  border-radius: 0.5rem;
  width: 100%;
  height: 300px;

  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .imageWrapper1 {
    width: 330px;
    height: 450px;
  }
}

.imageText {
  width: 400px;
  height: 400px;
  object-fit: contain;
}

.contentWrapper {
  flex: 1;
}

.italicText {
  text-align: left;
  font-style: italic;
}

.goldText {
  text-align: left;
  color: #d4af37;
  font-weight: bold;
  font-style: italic;
}

@media (min-width: 768px) {
  .goldText {
    font-size: 1.5rem;
  }
}

.packageContent {
  background-color: #1a1a1a;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 50vw;
}

.packageContent p {
  margin-bottom: 0;
}

.packageTitle {
  color: #d4af37;
  margin-bottom: 1rem;
  text-align: left;
  font-weight: bold;
}

@media (min-width: 768px) {
  .packageTitle {
    font-size: 1.5rem;
  }
}

.whatYouGet {
  color: white;
  font-weight: bold;
  text-align: left;
}

@media (min-width: 768px) {
  .whatYouGet {
    font-size: 1.5rem;
  }
}

.bulletList {
  text-align: left;
  list-style-type: disc;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: column;
  color: white;
  margin: 0;
  gap: 0rem;
  margin-bottom: 1rem;
}
.bulletItem {
  margin: 0;
}
.descriptionText {
  text-align: left;
  margin-bottom: 0px;
}

@media (min-width: 768px) {
  .descriptionText {
    font-size: 1.25rem;
  }
}

.whiteText {
  color: white;
  text-align: left;
  font-weight: bold;
}

.goldBoldText {
  color: #d4af37;
  text-align: left;
  font-weight: bold;
}

/* Mobile text size */
@media (max-width: 767px) {
  .italicText,
  .goldText,
  .packageTitle,
  .whatYouGet,
  .bulletItem,
  .descriptionText,
  .descriptionText p,
  .whiteText,
  .goldBoldText {
    font-size: 18px;
  }
}
