.last-step {
  padding: 4rem 2rem;
  background-color: #000;
}

.last-step-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  gap: 2rem;
}

.last-step-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.last-step-right {
  flex: 2;
}
.last-step-title-pic {
  width: 200px;
  height: 200px;
  background-color: gray;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.last-step-title-text {
  color: #d4af37;
}
.last-step-title {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  text-align: left;
}

.last-step-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 2rem;
  text-align: left;
}

.last-step-highlight {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #d4af37;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: left;
}

.last-step-button {
  margin-top: 2rem;
  text-align: left;
}

/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .last-step {
    padding: 2rem 1rem;
  }

  .last-step-container {
    flex-direction: column;
  }

  .last-step-title {
    font-size: 1.8rem;
    text-align: center;
  }

  .last-step-text {
    font-size: 1.1rem;
  }

  .last-step-highlight {
    font-size: 1.3rem;
  }
}
